#keyboard{
  width: 200px;
  margin: 1px;
  padding: 1px;

}
#left{
  width: 40%;
  float: left;
}
#toolbar{
  width: 60%;
  float: right;

}
#container{
  width: 100%;
}
.pressed{
  background-color: #57d6c7;
}
.key{
  background-color: default;
}
